Package: org.thebigboss.cello
Name: Cello
Depends: firmware (>= 9.0.2), mobilesubstrate, com.patsluth.libsw (>= 1.0-18)
Architecture: iphoneos-arm
Description: Quick access to media contextual actions via 3D Touch and Tableview Cell sliding in the Music app.
Maintainer: Pat Sluth
Author: Pat Sluth
Section: Tweaks
Icon: file:///Library/Application Support/CelloSupport.bundle/Icon.png
